/* General Rules */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 500px;
}

    .logo > img{
        width: 10%;
    }

    .logo > h1{
    display: inline-block;
    font-size: 35px;
    }

.black-style{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button{
    padding: 7px 30px;
    font-size: 14px;
    margin: 0 5px;
}

select{
    padding: 5px 10px;
    font-size: 16px;
}

button:hover, select:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

span{
    font-weight: bold;
    font-size: 20px;
    margin-right: 5px;
}

/* Main Rules */
main{
    background-color: #7fffd4;
    padding-bottom: 90px;
    min-height: 100vh;
    position: relative;
}

#container{
    width: 60%;
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid black;
    opacity: 1;
    animation: opacity 0.5s ease;
}

.box{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
}


.box:hover{
    border: 3px solid black;
    font-weight: bold;
}

    .facile{
        width: calc(100% / 10);
        height: 85px;
    }

    .normale{
        width: calc(100% / 9);
        height: 90px;
    }

    .difficile{
        width: calc(100% / 7);
        height: 120px;
    }


    .bomba{
        background-color: #850606;
        color: white;
        opacity: 1;
        animation: sconfitta 1s linear infinite;
    }
    
    .safe{
        background-color: #16166d;
        color: white;
        opacity: 1;
        animation: opacity 0.2s linear;
    }

.stato-partita{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#esito{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    opacity: 1;
    animation: opacity 0.5s ease;
}

#punteggio{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 20px;
    font-weight: bold;
}

/* Footer Ruòes */
footer{
    height: 60px;
    padding: 0 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

footer a{
    color: blue;
}

/* Animazioni */
@keyframes opacity{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes sconfitta{
    0%{
        background-color: #850606;
    }

    50%{
        background-color: #720505
    }

    100%{
        background-color: #850606;
    }

}